/Captura de pantalla 2022-12-14 123138.png
/conway-th.py
/glider cannon.png
/glider collider x2.png
/glider collider x4.png
/kaleydoscopic collider, pero tienen que estar más lejos.png
/pattern.rle
/Seed 1.png
